<section class="MenusBody">
  <div class="ActiveMenu">
    <p class="ActiveMenu-label">You are modifying</p>
    <p class="ActiveMenu-name"><%= menu.name %>
  </div>
  <%= render partial:'menuitems/menuitems-section',locals: {rendered_from: 'menus',menu: menu} %>
  <div class="Buttons-container">
    <form action="/menus" method="GET">
        <input class='SubmitButton ' type="submit" value='Exit'>
    </form>
    <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
        <%= submit_tag "delete this menu", class: 'SubmitButton Red', data: {confirm: "Are you sure to delete menu named #{menu.name}"} %>
    <% end %>
</div>
</section>
