<section>
<table>
    <tr class="ColumnTitle">
        <th class="IdNo">IdNo.</th>
        <th class="UserName">Name</th>
        <th class="UserEmail">Email</th>
        <th class="OrdersQuantity">OrdersPlaced</th>
    </tr>
    <% users.all.each do |user| %>
    <tr class="UserDetails">
        <td class="IdNo"><%= user.id %></td>
        <td class="UserName"><%= link_to  user.name, edit_user_path(id: user.id), class: "ExpandOrder" %></td>
        <td class="UserEmail"><%= user.email %></td>
        <td class="OrdersQuantity"><%= user.orders.count %></th>
    </tr>
    <% end %>
</table>
</div>
