<div>
<p class="Users-Role">Clerks</p>
<%=render partial:'user-section',locals:{
  users: User.clerks
}
%>
</div>
<hr>
<p class="Users-Role">Customers</p>
<div class="users">
<%=render partial:'user-section',locals:{
  users: User.customers
}
%>
</div>
