<div class="OrdersBody">
  <form action=<%= "/users/#{id}" %> method= "GET" class= "Date-period">
    <div class="Date">
      <label class='date-label'>From date:</label>
      <input type="date" name="from_date" class="From-Date">
    </div>
    <div class="Date">
      <label class='date-label'>To date:</label>
      <input type="date" name="end_date" class="From-Date">
    </div>
    <button class="SubmitButton" type="submit">fetch</button>
  </form>

  <p class="Dateperiod-Indicator">
    <%= "Showing orders from #{from_date.to_date.to_s(:short)} to #{end_date.to_date.to_s(:short)}"%>
  </p>
  <%= render partial: 'orders/orders-section',
          locals:{ all_orders: all_orders,
                    hidden_status: true,
                    delivered_status: true
                  }
  %>
  <input type="button" value="Exit" class='Order-exit' onClick="javascript:history.go(-1)" />
</div>
