<h1 class="Home-title">
  Welcome to GP Cafeteria
</h1>
<h2 class="Home-authenticate">
  New User? <%= link_to "Sign-up here", new_user_path %>
</h2>
<h2 class="Home-authenticate">
  Already have an account? <%= link_to "Sign-in here", new_sessions_path %>
</h2>
