<section class="MenuItemsBody">
    <%= render partial: 'menuitems-section',
               locals:{rendered_from: "home",
                       menu: @menu}
    %>
    <form action="/orders/cart" method="GET">
        <input value='Go-to-cart' type="submit" class='Submit-Items' data-disable-with="processing...">
    </form>
</section>
