.PageHead {
    font-size: 30px;
    color: green;
    margin-bottom: 30px;
}

.ColumnTitle {
    font-size: 20px;
    padding-bottom: 50px;
}

.ItemDetails {
    font-size: 16px;
}

td {
    vertical-align: middle!important;
}

td, th {
    padding: 10px;
    text-align: center;
}

tr {
    margin-bottom: 5px;
}

.SerialNo {
    padding-right: 15px;
    padding-bottom: 15px;
}

.ItemName {
    padding-right: 15px;
    padding-bottom: 15px;
}

.ItemQuantity {
    padding-right: 15px;
    padding-bottom: 15px;
}

.EachItemPrice {
    padding-right: 15px;
    padding-bottom: 15px;
}

.ItemPrice {
    padding-right: 15px;
    padding-bottom: 15px;
}

.Buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}

.SubmitButton {
    border: 1px solid transparent;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    background-color: green;
    padding: 5px 15px;
    margin-left: 30px;
    margin-bottom: 2px;
    float: right;
    cursor: pointer;
}

.TotalPrice {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.minus {
    font-weight: 500;
    text-decoration: none;
    border: 1px solid;
    padding-left: 4px;
    padding-right: 4px;
    color: black;
    border-radius: 10px;
}

.plus {
    font-weight: 500;
    text-decoration: none;
    border: 1px solid;
    color: black;
    border-radius: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.plus:hover, .minus:hover {
    color: red;
}

.CartEmptyBody {
    margin: 0 auto;
    max-width: 30%;
    margin-top: 50px;
}

.CartEmptyMessage {
    font-size: 30px;
    font-weight: 400;
    color: blueviolet;
    margin: 30px 50px;
}

.CartEmptyLink {
    margin-top: 50px;
    padding: 5px 15px;
    border-radius: 4px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.CartEmptyLink:hover .Add-Items {
    color: green;
}

.Add-Items {
    color: rgb(130, 24, 175);
    border: 0px;
    background-color: whitesmoke;
}
