.Home-title {
  font-size: 25px;
  margin-bottom: 30px;
  color: rgb(18, 35, 41);
}

body {
  background-color: whitesmoke;
}

.Home-authenticate {
  font-size: 16px;
  margin: 30px;
}

.UserHeader {
  font-size: 20px;
  float: right;
  margin: 20px 60px;
}

.Cafeteria-title {
  color: red;
  font-size: 30px;
}

.UserLabel {
  margin-bottom: 5px;
}

.cart-and-logout {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.PageSwap {
  padding: 10px;
  font-size: 20px;
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Flash-error {
  font-size: 16px;
  color: white;
  border: 1px solid red;
  background-color: rgb(196, 6, 6);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  margin: 10px auto;
}

.Flash-success {
  font-size: 16px;
  color: white;
  background-color: rgb(14, 110, 5);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px auto;
  max-width: 300px;
}

.Header-tab {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
}

.Header-tab:hover {
  color: blue;
}

.Signup-link, .Signin-link {
  text-decoration: none;
}

.temp {
  color: blue;
  margin-right: 5px;
}

.OrdersBody, .edit-menuitem-container, .CartBody, .NewSessionBody, .UsersBody, .NewUserBody {
  font-family: sans-serif;
  max-width: fit-content;
  max-width: -moz-max-contentm;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px 90px;
  border-radius: 4px;
}
