.Home-title {
  font-size: 25px;
  margin-bottom: 30px;
  color: rgb(18, 35, 41);
}

.Home-authenticate {
  font-size: 16px;
  margin: 30px;
}

.UserHeader {
  font-size: 20px;
  float: right;
  margin: 20px 60px;
}

.UserLabel {
  margin-bottom: 5px;
}

.PageSwap {
  padding: 10px;
  background-color: lightgray;
  font-size: 20px;
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Flash-error {
  font-size: 16px;
  margin-bottom: 16px;
  color: white;
  border: 1px solid red;
  background-color: rgb(196, 6, 6);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  max-width: 300px;
}

.Flash-success {
  font-size: 16px;
  margin-bottom: 16px;
  color: white;
  background-color: rgb(14, 110, 5);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 200px;
  max-width: 300px;
}

.Header-tab {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
}

.Signup-link, .Signin-link {
  text-decoration: none;
}
