.PageHead {
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
}

.MenuItemList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.MenuItemName {
    font-size: 15px;
    margin-bottom: 3px;
}

.MenuItemDescription {
    font-size: 12px;
    margin-bottom: 3px;
}

.MenuItemPrice {
    font-size: 10px;
    margin-bottom: 3px;
}

.MenuItem {
    color: green;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    text-align-last: right;
    border: 1px solid blue;
}

.Submit-Items {
    float: right;
    border: 0px;
    border-radius: 5px;
    background-color: green;
}

.Count {
    color: black;
    width: 30px;
    height: 15px;
    font-size: 10px;
}
