body {
  font-family: 'Open Sans', sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
  letter-spacing: 0.1px;
}

.ActiveMenu {
  display: inline-flex;
  margin-bottom: 20px;
  align-items: center;
}

.ActiveMenu-name {
  padding: 6px;
  color: red;
}

.Menu {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.Menu-select {
  margin-right: 20px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: lightblue;
}

.Menuselect-option {
  padding: 5px;
  background-color: lightgray;
  border: 1px solid;
}

.label {
  margin-right: 5px;
  color: rgb(219, 15, 15);
}

.Add-menu {
  display: flex;
  align-items: center;
}

.Menu-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  width: 100px;
}

.Add-Button {
  background-color: rgb(74, 173, 115);
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.MenuItem-container {
  padding: 10px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #BFB8CC;
}

.Menuitems-title {
  font-size: large;
  font-weight: 500;
  margin-bottom: 20px;
}

.Menuitems {
  display: flex;
  flex-wrap: wrap;
}

.MenuItem-name {
  margin-bottom: 10px;
}

.MenuItem-price {
  margin-bottom: 10px;
}

.MenuItem-container:hover {
  background-color: #F1EDF7;
}

.MenuItem-deleteIcon {
  visibility: hidden;
  text-align-last: right;
}

.MenuItem-container:hover .MenuItem-deleteIcon {
  visibility: visible;
}

.Add-menuitem {
  display: flex;
  align-items: stretch;
}

.AddMenuitem-name {
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  font-size: 14;
  color: #453C52;
  margin-right: 10px;
  padding: 6px 12px;
}

.AddMenuitem-price {
  border: 1px solid #BFB8CC;
  border-radius: 4px;
  font-size: 14;
  color: #453C52;
  margin-right: 10px;
  padding: 6px 12px;
  width: 50px;
}
