.edit-Button {
    background-color: rgb(218, 241, 9);
    font-size: 17px;
    color: black;
    border: 1px solid transparent;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.Submenus-Title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.edit-Button:hover {
    background-color: goldenrod;
    color: white;
}

.PageHead {
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
}

.MenuItemsBody {
    font-family: sans-serif;
    max-width: 85%;
    margin: 30px auto;
}

.MenuItemList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.MenuItemName {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.MenuItemDescription {
    font-size: 13px;
    margin-bottom: 5px;
}

.MenuItemPrice {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 300;
}

.MenuItem {
    color: black;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px transparent #BFB8CC;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    padding: 20px 5px;
    margin-right: 10px;
    background-color: white;
}

.NameAndDescriptionContainer {
    margin-left: 35px;
}

.PriceAndQuantityContainer {
    font-size: medium;
    display: flex;
    justify-content: space-around;
}

.MenuItemImage {
    align-content: center;
    margin-left: 25px;
    border-radius: 10px;
}

.Submit-Items {
    float: right;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: green;
    padding: 5px 15px;
    margin-right: 50px;
    border: 1px solid transparent;
    margin-bottom: 20px;
    cursor: pointer;
}

.Submit-Items:hover {
    background-color: rgb(2, 68, 2);
    cursor: pointer;
}

.Count {
    color: black;
    padding: 0px 5px;
}

.Add-text {
    padding: 5px 10px;
    font-size: medium;
    margin-right: 20px;
    border: 1px solid green;
    text-decoration: none;
    color: green;
    font-size: large;
}

.Add-text:hover {
    color: white;
    background-color: green;
    font-size: larger;
}

.MenuItem-qty {
    display: flex;
    align-items: center;
    padding: 2px;
    border: 1px solid green;
}

.home-minus, .home-plus {
    text-decoration: none;
    color: green;
    margin-right: 2px;
    font-size: medium;
    padding: 5px;
}

.home-plus:hover, .home-minus:hover {
    color: red;
    font-size: large;
}

.edit-container {
    display: flex;
    align-items: center;
    background-color: white;
}

.edit-menuitem-container {
    max-width: 25%;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
}

.EditMenuitem-name {
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    font-size: 14;
    color: #453C52;
    margin-right: 10px;
    padding: 6px 12px;
    width: 140px;
    margin-bottom: 20px;
}

.EditMenuitem-price {
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    font-size: 14;
    color: #453C52;
    margin-right: 10px;
    width: 60px;
    padding: 5px;
    margin-bottom: 20px;
}

.EditMenuitem-image_url {
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    font-size: 14;
    color: #453C52;
    margin-right: 10px;
    padding: 6px 12px;
    width: 220px;
    margin-bottom: 20px;
}

.EditMenuitem-description {
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    font-size: 14;
    color: #453C52;
    margin-right: 10px;
    padding: 6px 12px;
    width: 150px;
    margin-bottom: 20px;
}

.Add-item-link {
    text-decoration: none;
    font-size: larger;
    margin-left: 20px;
    color: blue;
}

.AddItemSubmenu {
    display: flex;
    align-items: baseline;
}
