.Orders-Title {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 20px;
}

.CartBody {
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
}

.Order-Id {
  font-weight: 550;
  color: darkorchid;
  margin-right: 10px;
  margin-left: 5px;
}

.Order-Container {
  margin-bottom: 20px;
}

.Order-Container:hover .MenuItem-deleteIcon {
  visibility: visible;
}

.Order-maincontent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Order-maincontent-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.Order-id {
  margin-right: 10px;
}

.Order-customer {
  margin-right: 10px;
}

.Ordered-at {
  margin-right: 10px;
}

.Order-items {
  margin-left: 50px;
}

.Order-orderitem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.Orderitem-qty {
  color: rgb(32, 10, 235);
  font-weight: 400;
  margin-left: 10px;
}

.delivered-status-delivered {
  color: green;
  margin-right: 10px;
}

.delivered-status-notdelivered {
  color: red;
  margin-right: 10px;
}

.info {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.ExpandOrder {
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
  padding-bottom: 10px;
}

.ExpandOrder:hover {
  background-color: lightblue;
  border-radius: 4px;
}

.Order-top {
  display: flex;
  align-items: unset;
  justify-content: space-between;
}

.Order-right {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.Red {
  background-color: red;
}

.Order-exit {
  margin-bottom: 10px;
  padding: 5px 15px;
  background-color: green;
  border-radius: 4px;
  border-width: 0;
  font-size: 20px;
  color: white;
}

.Order-exit:hover {
  background-color: rgb(1, 102, 1);
  cursor: pointer;
}

.Left-margin {
  margin-left: 70px;
}
