.From-Date {
  padding: 6px;
  font-size: 12px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.From-Date:active {
  border: none;
}

.Date-period {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Dateperiod-Indicator {
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-bottom: 20px;
}

.SubmitButton:hover {
  cursor: pointer;
  background-color: seagreen;
}

.Report-container {
  max-width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.reports-table {
  margin: 0 auto;
}

.Report-head {
  font-size: 25px;
  color: red;
  font-weight: 600;
  margin-left: 250px;
  margin-top: 20px;
}

.Report-link {
  font-size: 20px;
  padding: 3px;
  padding-bottom: 10px;
  margin-right: 25px;
}

.Report-link:hover {
  background-color: lightblue;
  border-radius: 4px;
}
