.split {
  width: 100%;
}

.left {
  float: left;
  width: 20%;
}

.right {
  float: right;
  width: 60%;
  padding-right: 150px;
  margin-left: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
