.NewUserBody, .NewSessionBody {
  font-family: sans-serif;
  margin-top: 50px;
}

.Form-Title {
  font-size: 20px;
  margin-bottom: 20px;
  color: blue;
}

.role-change {
  display: flex;
  justify-content: space-evenly;
}

.Form-Section {
  font-size: 20px;
  margin-bottom: 10px;
}

.Form-Input {
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
  padding: 5px;
}

.Input-Label {
  font-size: 20px;
  margin-bottom: 10px;
}

.Form-Submit {
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background-color: green;
  padding: 5px 10px;
  cursor: pointer;
}

.Form-Submit:hover {
  background-color: rgb(2, 68, 2);
  cursor: pointer;
}

.Input-role {
  margin-bottom: 15px;
  color: darkred;
}

.Users-Role {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 20px;
}

.ColumnTitle {
  font-size: 20px;
  padding-bottom: 50px;
}

.UserDetails {
  font-size: 16px;
}

td, th {
  padding: 10px;
  text-align: center;
}

tr {
  margin-bottom: 5px;
}

.IdNo, .UserName, .UserEmail, .OrdesQuantity {
  padding-right: 10px;
  padding-bottom: 10px;
}

.Right {
  margin-left: 180px;
}
